@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RsND Inventory Management</h1
    <br <br /><br />
    <img alt="RsND" src="~/img/Logo.png" height: auto; />
    <p></a>.</p>
</div>
